<div class="programMain"><h1>Program</h1>
    <h1>{{title}}</h1>

Hela tävlingens program finns att hämta på <a href="https://www.umeabtk.se">www.umeabtk.se</a> 
<br>


<p>
        Umeå BTK bjuder in till den 64:e upplagan av Umeå Nationella. En pingistävling för spelare i alla åldrar och spelstyrka. Under lördagan fokuseras framför allt på åldersindelade klasser och på söndagen spelas öppna divisionsklasser där alla spelare delas in i jämna grupper efter spelstyrka för att på så vis få så många jämna matcher som möjligt. 

</p>
<table class="program">
    <tr>
        <td colspan="2"><strong>Lördag 9:e feb</strong></td>
    </tr>
    <tr>
        <td>ca 09:00:</td>
        <td>H50, H2, HJ17, DJ17, P12, F12, P/F9</td>
    </tr>

    <tr>
        <td>ca 12:30:</td>
        <td>Herrar Elit, Damer Elit, H4, P15, F15, P/F11</td>
    </tr>

    <tr>
        <td>ca 16:00:</td>
        <td>H35, HJ20, DJ20, P13, F13, P/F10, HD(ca17:30)</td>
    </tr>

    <tr>
        <td colspan="2"><b>Söndag 10:e feb</b></td>
    </tr>
    <tr>
        <td>ca 09:00:</td>
        <td>Divisionsklass* - Storpool</td>
    </tr>

    <tr>
        <td>ca 12:30:</td>
        <td>Divisionsnlass* - Pool + Slutspel</td>
    </tr>
</table>
<p>
        *Divisionsklasser söndag: Under söndagen kommer det att spelas två divisionsklasser. Dessa klasser kan spelas av samtliga spelare, oavsett ålder eller spelstyrka. Deltagarna kommer att delas in i jämna divisioner efter rankingpoäng så att spelarna får så jämna matcher som möjligt. 

        På förmiddagen spelas storpool där spelarna delas in 6-7(**) spelare per division och där sedan alla möter alla. På eftermiddagen delas spelarna in 16(**) per division som sedan spelar poolspel + slutspel som i en vanlig klass.
        
        **Antal spelare per division kan ändras beroende på antalet deltagare.
        
</p>
</div>